body {
	margin: 20px 0 ;
	padding: 0;
	background-color: #FCF6E1;
	font-family: 'Spartan', sans-serif;
	font-size: 13px;
}

footer {
	text-align: center;
	font-size: 8px;
	margin-top: 10px;
}


.container {
	display: flex;
	max-width: 350px;
	width: 80vw;
	background-color: #FFD6DE;
	margin: 0 auto;
	border-radius: 20px;
	padding: 10px 0 0 0;
}
.img1 {
	margin: 15px 0 0 15px ;
}

.img2 {

	position: relative;
	top:-40px;
	left: 15px;
}

span {
	font-weight: bolder;}

.questions {
	position: relative;
	left: 70px;
	top:-70px;
	background: #E48080;
	margin: 10px 0 0 10px;
	
	width: 20vw;
	height: auto;
	text-align: left;
	padding: 15px 20px;
	border-radius: 30px;
}

.questions2 {
	position: relative;
	left: 70px;
	top:-110px;
	background: #E48080;
	margin: 10px 0 0 10px;
	
	width: 20vw;
	height: auto;
	text-align: left;
	padding: 15px 20px;
	border-radius: 30px;
}




.answers {
	background: #BBD3EC;
	margin: 0;
	
	width: 18vw;
	height: auto;
	
	padding: 5px 0 0 5px;
	border-radius: 30px;
	position: relative;
	left:130px;
	top: -50px;
}

.input {
	max-width: 200px;
	width: auto;
	border: none;
	background: transparent;
	outline: none;
	font-family: 'Spartan', sans-serif;
	padding: 5px 0 5px 13px;
	text-align: left;

}

.answers2 {
	background: #BBD3EC;
	margin: 0 5px;
	
	width: 18vw;
	height: auto;
	text-align: left;
	padding: 5px 0 0 10px;
	border-radius: 30px;
	position: relative;
	left:120px;
	top: -80px;
}


p {
	font-size: 10px;
}


button {
	position: relative;
	bottom:50px;
	left:150px;
	background: #E48080;
	max-width: 150px;
	width: auto;
	height: auto;
	text-align: center;
	padding: 10px 15px;
	border: none;
	border-radius: 30px;
	font-family: 'Spartan', sans-serif;
	outline: none;

}

button:hover:enabled {
	background-color: #FCF6E1;
	color:#E48080;
	border: none;
}


.alert-error {
  background-color: #f2d7d5;
  border-left-color: #c0392b;
  color: #c0392b;
  position: relative;
  bottom: 60px;
  left: 20px;
}

.alert-success {
  background-color: #d5f5e3;
  border-left-color: #2ecc71;
  color: #2ecc71;
  position: relative;
  bottom: 60px;
  left: 20px;
}

.alert {
  display: block;
  padding: 20px;
  border-left: 5px solid;
}
/*City form css*/


.search-result {
    position: absolute;
    top: 52px;
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.28);
}


.list-group {
	background: #BBD3EC

}

.list-group-item {
    cursor: pointer;
    list-style-type: none;
    margin: 0 0 20px -20px;
    padding: 0;

}


.list-group-item.active,
.list-group-item:hover {
    background-color: #e1e3e5;
    border-color: #d3d5d7;
}

/*Stars css*/

.star {
  display: inline-block;
  transition: all 0.5s ease;
  position: relative;
  left: 20px;
  margin-right: 8px;
}

.star:hover {
  transform: scale(1.5);
}

.star:hover:not(:first-child) {
  margin-left: 0.2rem;
}

.star:hover:not(:last-child) {
  margin-right: 0.2rem;
}

.stars {
  color:#E48080;
  flex-shrink: 0;
  margin-left: 0.25rem;

}